#book-modal {
  font-family: var(--font-family-base);

  #modal-book-title {
    font-size: 25px;
  }

  .modal-body {
    p, h4 {
      @media only screen and (max-width: 991px) {
        text-align: center;
      }
    }
  }

  .btn {
    border-radius: 10px;
    color: var(--accent-color) !important;
    
    @media only screen and (max-width: 991px) {
      margin-top: 10px;
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  #modal-book-category {
    font-size: 12.5px;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
  }

  .modal-title {
    font-size: 30px;
  }

  .modal-content {
    background-color: var(--background-color);

    .row.justify-content-end {
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .row.justify-content-end .col-md-6 {
      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .col-md-6.d-flex {
      @media (max-width: 767px) {
        justify-content: center;
        align-items: center;
      }
    }

    hr {
      transition: 0.5s;
      @media (max-width: 991px) {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 10px;
      }
      @media (max-width: 767px) {
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }

    .container.d-flex.flex-column {
      height: 100%;

      @media (max-width: 991px) {
        align-items: center;
      }
    }

    .col-md-6.d-flex {
      @media (max-width: 767px) {
        justify-content: center;
        align-items: center;

        img {
          max-height: 70vh;
        }
      }
    }

    .row.justify-content-end > .col-md-12 {
      margin-bottom: auto;
    }
  }
}
