@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* Bootstrap theme overrides */

$background: #252422;
$onBackground: #fffcf2;
$body-color: #FFFCF2;
$primary: #bc4749;
$success: #bc4749;
$btn-close-color: #FEFEFE;
$accent: #FEFEFE;
$font-family-sans-serif: 'Fredoka';
$font-family-base: 'Lilita One';

@import 'bootstrap/scss/bootstrap.scss';
